@page
@model ActivationAccountModel
@{
    ViewData["Title"] = "Account Activation";
}

<h1>@ViewData["Title"]</h1>
@{
<p>
      Currently, your account is not active. Please check your email to activate account.
</p>

}

